#chatension-sidebar {
  position: fixed;
  width: 250px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 9999;
  background: beige;
  border: 2px solid;
  padding: 20px;
  overflow: auto;
}